<div class="page-container">
    <div class="header-content">
      <div class="cruise-header">
        <h1 class="block" id='header-h1'>Choose Your Sailings</h1>
        <h3 class="block" id="pick-one">(Pick one for each box)</p>
      </div>
    </div>

    <% cruiseLineInfo = @response.parsed_response['cruise_lines'] %>

    <div class="cruise-container">
      <div class="card-container">
        <% ribbon_id= 0 %>
        <% footer_id= 0 %>
        <% @response.parsed_response['sailings'].each do |cruise| %>
          <% picture = cruise['sailing_main_image'] %>
          <div class="card">
            <div class="box">
              <%= image_tag picture, alt:'cruise picture!'%>
              <% price = 1000000 %>
              <% cruise['sailing_options'].each do |option| %>
                <% if option['sailing_price'] <= price %>
                  <% price = option['sailing_price'] %>
                <% end %>
              <% end %>
              <% ribbon_id += 1 %>
              <% footer_id+= 0 %>
              <div class="ribbon" id="ribbon<%= ribbon_id %>">
                <div>
                  <span class='starting'>Starting at</span><br>
                  <span class='ribbon-price'>$<%= price %></span>
                </div>
              </div>
            </div>
            <div class="card-footer" id="footer<%= ribbon_id %>">
              <% cruiseLineInfo.each do |cruiseLines| %>
                <% if cruiseLines['cruise_line_id'] == cruise['sailing_cruise_line_id'] %>
                  <% @cruise_line_name = cruiseLines['cruise_line_name'] %>
                  <% @cruise_ship_name = cruiseLines['cruise_ship_name'] %>
                <% end %>
              <% end %>
              <p class="cruise-p"><%= @cruise_line_name %> - <%= @cruise_ship_name %> </p>
              <h2><%= cruise['sailing_name'] %></h2>
              <% cruise['sailing_options'].each do |option| %>
                <div class="cell">
                  <div class="check">
                      <input class='checkbox-round' id="check-0" type="checkbox" />
                      <label for="check-0"><span><%= option['sailing_date'] %></span><span class='price'><%= ' $' + (option['sailing_price']).to_s %></span></label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="savings-container">
      <div class="savings-content">
        <h1 id="savings-h1">Your Selected Savings Total</h1>
        <h1 id="price">$0</h1>
      </div>
    </div>
</div>


<script type="text/javascript">
$(window).resize(function() {
 if ($(window).width() < 1025 && $(window).width() > 480 ) {
   console.log('Test1')
  $('#ribbon1').appendTo('#footer1');
  $('#ribbon2').appendTo('#footer2');
  $('#ribbon3').appendTo('#footer3');
 }
else {
   alert('More than 960');
}
});

if ($(window).width() < 1025 && $(window).width() > 480 ) {
   console.log('Test2')
   $('#ribbon1').appendTo('#footer1');
   $('#ribbon2').appendTo('#footer2');
   $('#ribbon3').appendTo('#footer3');
}
function addCommas(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + ',' + '$2');
	}
	return x1 + x2;
}

$(".cell").on("click", "input:checkbox", function () {
  var $items = $(".cell").find("input:checkbox:checked");
  var $total = $("#price");
  var cur_total = 0;

  $items.each(function () {
      var $this = $(this);
      var $target = $(".price");
      var item_value = +($target.html().replace("$", "") || 0);

      cur_total += item_value;
  });

  $total.html("$" + addCommas(cur_total));
});
</script>
